---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: directory
  path: posts
  label: Posts
  create: all
  match: "**/*.md"
upload_dir: static/uploads
public_path: "/uploads"
front_matter_path: "../static/uploads"
use_front_matter_path: true
file_template: ":year:-:month:-:day:-:filename:"
instant_preview: true
build:
  preview_command: npm build
  publish_command: vuepress build -d .vuepress/dist
  preview_output_directory: dist
  output_directory: ".vuepress/dist"
  instant_preview_command: npx gridsome develop -p 8080 -h 0.0.0.0
  preview_docker_image: node:10
  mount_path: "/srv"
